{% extends "layout.html" %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}
    <h2>Iniciar Sesión</h2>
    <form method="post">
        <div class="input-group">
            <i class="fa fa-envelope"></i>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="input-group">
            <i class="fa fa-lock"></i>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
        </div>
        <button type="submit">Ingresar</button>
    </form>
    <p style="text-align: center; margin-top: 20px;">
        ¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a>
    </p>
{% endblock %}
