{% extends "layout.html" %}
{% block title %}Registro de Cuenta{% endblock %}
{% block content %}
    <h2>Crear Nueva Cuenta</h2>
    <form method="post">
        <div class="input-group">
            <i class="fa fa-user"></i>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
        </div>
        <div class="input-group">
            <i class="fa fa-user"></i>
            <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
        </div>
        <div class="input-group">
            <i class="fa fa-envelope"></i>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="input-group">
            <i class="fa fa-lock"></i>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
        </div>
        <button type="submit">Registrarme</button>
    </form>
    <p style="text-align: center; margin-top: 20px;">
        ¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión</a>
    </p>
{% endblock %}
